.header {
    display: flex;
    align-items: center;
    background-color: cornflowerblue;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 32px;
}

.header .title-group {
    padding-left: 25px;
    color: black;
}

.header .title-group i {
    padding-left: 25px;
    padding-right: 5px;
}
